body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background:linear-gradient(108deg, #cff4de 0%, #eafff3 100%);
   
}
.header {
    border: none;
}
.navbar {
    background-color:linear-gradient(108deg, #cff4de 0%, #eafff3 100%) !important;
    font-family: 'abril fatface';
    font-weight:bolder;
    color:rgba(11, 79, 9, 0.773);  
}
.navbar-brand{
    position: relative;
    margin-left:2%;
    font-weight: bolder;
    font-size:xx-large;
    font-family: 'Great vibes',cursive;
}
.nav-link{
    color:black;
}
.form-label{
    font-family: 'Oleo Script';
    font-weight: bolder;
    font-size: larger;
}
.navbar-nav{
    position: relative;
    margin-left:50%;
    font-weight: bold;
    color:rgba(11, 79, 9, 0.773);  
    padding-left:5%;
}
.contact-form
{
    margin-left:10%;
    width:80%;
    display: inline-block;
    height: 500px;  
    color:rgba(11, 79, 9, 0.773);  
    background:linear-gradient(108deg, #cff4de 0%, #eafff3 100%);
    font-size: 18px;
    font-weight: bold;
}
#saveContactBtn {
    background-color: #023d54;
    color: white;
    border: none; /* Remove button border */
    padding: 10px 20px; /* Adjust button padding as needed */
    border-radius: 5px; /* Apply border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow for depth */
    background-image: linear-gradient(45deg, #0272a9, #025c80); /* Apply gradient effect */
}

#saveContactBtn:hover {
    background-image: linear-gradient(45deg, #025c80, #0272a9); /* Adjust gradient on hover */
}



