body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(108deg, #cff4de 0%, #eafff3 100%);
    color:rgba(11, 79, 9, 0.773); 
    font-weight:bold;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20%;
    background-color: #fff;
    border-radius: 8%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:rgba(11, 79, 9, 0.773); 
}

h1 {
    text-align: center;
    color:black;
    font-family: 'Great vibes',cursive;
}

.contact {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.contact p {
    margin: 5px 0;
}

.contact hr {
    border: none;
    border-top: 1px solid #ddd;
}
