body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(108deg, #cff4de 0%, #eafff3 100%);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(108deg, #cff4de 0%, #eafff3 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Oleo Script', cursive;
}

h1 {
    text-align: center;
    color: transparent; 
    font-family: 'Great Vibes', cursive;
    background-image: linear-gradient(to right, black, #025c80); 
    -webkit-background-clip: text; 
    background-clip: text; 
}

.contact {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; 
}

.contact:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff; 
}

.contact h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0;
}
